<% include ./partials/header %> 

<div id="landing-header">
    <h1>Zalguj!</h1>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="Login!">
    </form>
</div>


	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<% include ./partials/footer %> 