<% include ./partials/header %> 


<div id="landing-header">
    <h1>Zarejestrój się!</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button>Sign Up</button>
    </form>
</div>


	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<% include ./partials/footer %> 

